/* 
  Author: Mahmoud Esmat
  date  : 4-11-2025
*/

/* ================= for all ================= */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fake-body {
  width: 70%;
  max-width: 550px;
  background-image: linear-gradient(#0e092e, #150d44, #2b1a89);
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

button,
input {
  border: none;
  outline: none;
}

/* ================= for search ================= */
.search {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search input {
  flex-grow: 1;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.search input:hover {
  border: 2px solid transparent;
  box-shadow: 0 0 10px blue inset;
}

.search button {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search button:hover {
  background-color: rgb(27, 16, 182);
  box-shadow: 1px 1px 5px #fff;
}

.search button:hover span {
  color: white;
}

/* ================= for weather ================= */
.container {
  text-align: center;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ================= for temperature ================= */
.temperature img {
  width: 150px;
}

.temperature p {
  font-size: 50px;
  font-weight: 100;
}

/* ================= for humidity and wind speed ================= */
.content {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.content img {
  width: 30px;
  height: 30px;
}

.humidity, 
.wind-speed {
  display: flex;
  gap: 10px;
}

.not-valid {
  color: red;
  font-size: 30px;
  margin-bottom: 10px;
}