/*
  Author: Mahmoud Esmat
  Date  : 14-12-2025
*/

/* ================= For All ================= */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: block;
}

/* ================= For Header ================= */
header {
  position: relative;
}

header #bg-image {
  width: 100%;
  height: 100vh;
}

header .personal-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

header .personal-info>img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  position: absolute;
  width: 100%;
  bottom: 10px;
}

header nav>img {
  width: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  color: #fff;
}

header nav ul a li {
  padding: 10px 5px;
}

header nav ul a li:hover {
  border-bottom: 2px solid red;
  color: red;
}

/* === For manually burger icon === */
.burger {
  display: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.burger div {
  width: 30px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  transition: 0.4s;
}

.burger .first {
  top: 0;
}

.burger .second {
  top: 9px;
}

.burger .third {
  top: 18px;
}

.burger.active .first {
  top: 9px;
  transform: rotate(45deg);
}

.burger.active .second {
  opacity: 0;
}

.burger.active .third {
  top: 9px;
  transform: rotate(-45deg);
}


/* ================= For Main ================= */
main {
  position: relative;
}

main .icons {
  position: absolute;
  left: 0;
  top: 150px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

main .icons a {
  padding: 10px;
  background-color: #000;
  color: #fff;
  transition: 1s;
}

main .icons a:hover {
  width: 50px;
  text-align: center;
}

/* ====== Fisrt section ====== */
main section {
  display: flex;
  justify-content: space-between;
  gap: 80px;
  width: 80%;
  max-width: 800px;
  margin: 40px auto;
}

main .skills-info>.image {
  position: relative;
  width: 30%;
  height: 300px;
  border: 7px solid;
}

main .skills-info>.image::after {
  content: "";
  background-color: #fff;
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -7px;
  left: -7px;
  border-style: solid;
  border-width: 7px 7px 0 0;
}

main .skills-info>.image>img {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

main .skills-info .content {
  width: 60%;
}

main .skills-info .content>p {
  font-size: 15px;
  margin: 20px 0;
}

main .skills-info .content input {
  width: 100%;
}

.content .skills .progress {
  background-color: rgb(187, 185, 185);
  width: 100%;
  height: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.content .skills .progress .progress-bar {
  height: 100%;
  background-color: #000;
  border-radius: 10px;
  text-align: center;
  color: #fff;
}

/* ====== Second section ====== */
main .content {
  background-color: rgb(247, 241, 241);
  padding: 10px;
  margin: 30px 0 10px;
}

main .content section.technical-skills {
  width: 90%;
  max-width: 1300px;
}

main section .my-courses h2,
main section .my-education h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.element {
  background-color: #fff;
  margin-bottom: 30px;
  position: relative;
}

.element h3 {
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
}

.element div {
  padding: 5px 10px;
}

.element div * {
  margin-top: 5px;
  font-size: 20px;
}

.element::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: #000;
  position: absolute;
  left: -30px;
  top: 0;
}

.element::before {
  content: "";
  background-color: #fff;
  border: 4px solid #000;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  left: -39px;
  top: -2px;
  z-index: 100;
}

/* ====== Third section ====== */
main section.last-section {
  width: 100%;
  max-width: 5000px;
  flex-direction: column;
  align-items: center;
}

main section.last-section h1 {
  font-size: 50px;
  position: relative;
}

main section.last-section h1::after {
  content: "";
  background-color: gray;
  border-radius: 10px;
  width: 40%;
  height: 5px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}

main section .projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: auto;
  width: 80%;
  max-width: 1000px;
}

main section .projects .card {
  border: 2px solid rgb(214, 211, 211);
  border-radius: 10px;
  width: calc(33% - 10px);
  height: 280px;
}

main section .projects .card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

main section .projects .card h3 {
  font-size: 30px;
  text-align: center;
}

main section .projects .card .language {
  display: flex;
  justify-content: center;
  gap: 20px;
}

main section .projects .card .language p {
  background: rgb(228, 209, 146);
  padding: 5px 10px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
}

/* ================= For Footer ================= */
footer {
  background-color: #000;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0;
}

.footer-icons a {
  color: #fff;
  font-size: 20px;
}

.footer-icons a:hover {
  color: #ccc;
}

/* ================= For Media Query ================= */
@media (max-width: 1200px) {
  main section.last-section .projects .card {
    width: calc(50% - 10px);
  }
}

@media (max-width: 1000px) {
  section {
    flex-direction: column;
  }

  .skills-info {
    align-items: center;
    width: 80%;
  }

  main section.skills-info .image {
    width: 50%;
  }

  main section.skills-info .image>img {
    width: 200px;
  }

  main section.skills-info .content {
    width: 100%;
  }
}

@media (max-width: 800px) {
  main section.last-section .projects .card {
    width: 100%;
  }
}

@media (max-width: 580px) {
  header nav ul {
    position: relative;
  }

  header nav ul {
    display: none;
    position: absolute;
    background: #15285c;
    top: 55px;
    right: 0;
    width: 100%;
    flex-direction: column;
    z-index: 1000;
  }

  .burger {
    display: flex;
  }

  main section.skills-info .image {
    width: 50%;
  }

  main section.skills-info .image>img {
    width: 150px;
  }
}

@media (min-width: 580px) {
  header nav ul.burger {
    display: flex;
  }
}