* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #137;
}

i {
  color: gray;
}

.container {
  background-color: #fff;
  width: 500px;
  padding: 30px;
  text-align: center;
}

.container h1 {
  color: blueviolet;
  margin: 0 auto 20px;
  position: relative;
}

.container h1::after {
  content: "";
  background-color: blueviolet;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 4px;
  border-radius: 10px;
}

.container .sign-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container .sign-input .input-field {
  background-color: rgba(128, 128, 128, 0.507);
  padding: 0 10px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
}

.container .sign-input .input-field input {
  width: 100%;
  font-size: 15px;
  padding: 15px 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.container .sign-input .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.container .sign-input .buttons button {
  font-size: 18px;
  padding: 5px 15px;
  flex-grow: 1;
  border-radius: 20px;
  border: 1px solid gray;
  cursor: pointer;
}

.container .sign-input .buttons button.active {
  background-color: blueviolet;
  color: #fff;
}