/* 
  Author: Mahmoud Esmat
  date  : 2-11-2026
*/

/* ========================= for all elements in the body start ========================= */
* {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

:root {
  --bg-color: #18a3b3;
  --bg-hover-color: rgb(33, 33, 138);
  --btn-font: white;
  --border-color: rgba(128, 128, 128, 0.448);
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.fake-body {
  width: 50%;
  margin: 20px auto;
  padding: 20px;
}

@media (min-width: 801px) and (max-width: 950px) {
  .fake-body {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .fake-body {
    width: 80%;
  }
}

.fake-body h2 {
  margin-bottom: 10px;
  text-align: center;
}

button, 
input, 
span {
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--btn-font);
}

input {
  color: #000;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
/* ========================= for all elements in the body end ========================= */

/* ========================= add list start ========================= */
.add-task {
  border: 1px solid var(--border-color);
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
}

.add-task .task-input {
  padding: 0 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-input span {
  background-color: var(--bg-color);
  font-size: 30px;
}

.task-input input {
  width: 100%;
  padding: 7px;
  border: 1px solid var(--border-color);
  transition: 0.5s all;
}

.task-input input:focus {
  border: 1px solid gray;
  transform: scale(1.1);
}

.btn-add,
.list-appear button {
  padding: 7px;
  width: calc(100% - 20px);
  background-color: var(--bg-color);
  cursor: pointer;
  color: var(--btn-font);
}

.btn-add:hover,
.list-appear button:hover {
  background-color: var(--bg-hover-color);
}
/* ========================= add list end ========================= */

/* ========================= list appear start ========================= */
.list-appear {
  padding: 0 10px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 5px;
}

.list-appear button {
  flex-grow: 1;
}

.list-appear button:focus {
  background-color: rgb(0, 0, 254);
}
/* ========================= list appear end ========================= */

/* ========================= tasks start ========================= */
.tasks {
  margin-bottom: 15px;
  padding: 5px;
}

.tasks .task {
  border: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px 20px;
  transition: 0.5s all;
}

.tasks .task:hover {
  scale: 1.1;
}

.done-text {
  text-decoration: line-through;
  color: gray;
}

.head .date,
.task .date span {
  display: flex;
  align-items: start;
  gap: 2px;
  font-size: 12px;
  color: rgb(106, 99, 158);
}

.tasks .task button {
  background-color: transparent;
  cursor: pointer;
}

.btn-check-box .material-symbols-outlined {
  color: gray;
}

.btn-check-box .material-symbols-outlined:hover {
  color: black;
}

.task .btn-edit span {
  color: rgb(180, 180, 7);
}

.task .btn-edit span:hover {
  color: yellow;
}

.task .btn-delete span {
  color: rgba(191, 10, 10, 0.783);
}

.task .btn-delete span:hover {
  color: red;
}

.task button span {
  font-size: 20px;
}
/* ========================= tasks end ========================= */

/* ========================= delete area start ========================= */
.delete-area {
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.delete-area button {
  background-color: #d93545;
  padding: 7px;
  flex-grow: 1;
}

.delete-area button:hover {
  background-color: red;
}
/* ========================= delete area end ========================= */
