.fake-body {
  background-color: #222;
  width: 100%;
  height: 100vh;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

::selection {
  background-color: #222;
  color: #fff;
}