@import "../../styles/mixins";

nav {
  @include display-flex(space-between, center);
  padding: 5px 20px;
  box-shadow: 0 0 4px gray;

  /* ----- Left ----- */
  .left-nav {
    @include display-flex;
    gap: 10px;

    img {
      width: 20px;
    }

    i {
      font-size: 25px;
      color: red;
    }
  }

  /* ----- Middle ----- */
  .middle-nav {
    @include display-flex;
    border: 1px solid gray;
    width: 40%;
    border-radius: 40px;
    padding: 5px 10px;
    gap: 10px;

    input {
      flex-grow: 1;
      border: none;
      outline: none;
      background-color: transparent;
      font-size: 16px;
    }

    &:hover {
      box-shadow: 0 0 2px #000;
    }
  }

  /* ----- Right ----- */
  .right-nav {
    @include display-flex;
    gap: 10px;
    img {
      width: 25px;
      border-radius: 50%;
    }
  }
}

@media (max-width: 550px) {
  nav {
    flex-wrap: wrap;

    .middle-nav {
      order: 10;
      width: 100%;
    }
  }
}
