section.skills {
  background-color: var(--body-backgroud);
  transition: background-color 0.4s;
  padding: 0 20px 20px;
  text-align: center;
}

section.skills header {
  margin-bottom: 40px;
}

section.skills header>h1 {
  font-size: 70px;
  position: relative;
  padding-bottom: 8px;
}

section.skills header>h1>span {
  background: linear-gradient(to right, var(--small-bg-color) 0%, var(--large-bg-color) 100%);
  transition: all 0.4s ease;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.skills header>.overview {
  font-size: 22px;
  color: rgb(54, 64, 73);
  
}

section.skills main .row .card {
  background-color: var(--body-backgroud);
  border: 2px solid var(--small-bg-color);
  cursor: pointer;
  transition: all 0.5s;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

section.skills main .row .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px 2px var(--small-bg-color);
}

section.skills main .row .card .card-title {
  background-image: linear-gradient(to right, var(--small-bg-color) 0%, var(--large-bg-color) 100%);
  width: 70px;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 10px;
  color: var(--body-backgroud);
  font-size: 35px;
}

section.skills main .row .card .card-text {
  font-size: 30px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--small-bg-color);
}

section.skills main .row .card .expert {
  color: rgb(54, 64, 73);
  font-size: 20px;
}

section.skills main .lang {
  /* border: 2px solid var(--small-bg-color); */
  /* transition: all 0.5s; */
}

section.skills main .lang:hover {
  /* cursor: pointer; */
  /* box-shadow: 0 0 20px 2px var(--small-bg-color); */
}

section.skills main .lang header {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 10px;
  margin-bottom: 0;
}

section.skills main .lang header>.icon-head {
  font-size: 30px;
  animation: rotate 10s infinite;
  cursor: pointer;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(45deg);
  }

  50% {
    transform: rotate(0);
  }

  75% {
    transform: rotate(-45deg);
  }

  100% {
    transform: rotate(0);
  }
}

section.skills main .lang header>h1 {
  font-size: 30px;
  padding: 0;
  margin: 0;
}

section.skills main .lang .row {
  margin: auto;
}

section.skills main .lang .row .text {
  color: var(--small-bg-color);
}