section.contacts {
  background-color: var(--body-backgroud);
  transition: background-color 0.4s;
  padding: 0 20px 20px;
  text-align: center;
}

section.contacts header {
  margin-bottom: 40px;
}

section.contacts header>h1 {
  font-size: 70px;
  position: relative;
  padding-bottom: 8px;
}

section.contacts header>h1>span {
  background: linear-gradient(to right, var(--small-bg-color) 0%, var(--large-bg-color) 100%);
  transition: all 0.4s ease;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

section.contacts header>.overview {
  font-size: 22px;
  color: rgb(54, 64, 73);
}

section.contacts .row {
  text-align: left;
}

section.contacts .row .form-container .form {
  background-color: var(--card-bg-color);
  border: 2px solid var(--card-border-color);
  border-radius: 10px;
  text-align: left;
  padding: 20px 30px;
  margin-bottom: 20px;
  color: var(--body-color);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  transition: all 0.5s;
}

section.contacts .row .form-container .form:hover {
  box-shadow: 0 0 10px 10px var(--card-bg-color);
  cursor: pointer;
}


section.contacts .row .form-container .form h1 {
  margin-bottom: 20px;
}

section.contacts .row .form-container .form .input {
  background-color: var(--card-bg-color);
  border: 2px solid var(--card-border-color);
  border-radius: 10px;
  outline: none;
  color: var(--body-color);
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  transition: all 0.5s;
}

section.contacts .row .form-container .form .input:focus {
  border-color: var(--small-bg-color);
  box-shadow: 0 0 20px 1px var(--small-bg-color);
}

section.contacts .row .form-container .form button {
  background-color: var(--small-bg-color);
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 98%;
  margin: 10px auto 0;
  font-size: 17px;
  color: #fff;
}

section.contacts .row .form-container .form button:hover {
  background-color: var(--large-bg-color);
}

section.contacts .row .card {
  background-color: var(--card-bg-color);
  border: 2px solid var(--card-border-color);
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 20px 30px 10px 20px;
  transition: all 0.5s;
}

section.contacts .row .card:hover {
  box-shadow: 0 0 10px 10px var(--card-bg-hover-color);
  transform: scale(1.1);
  cursor: pointer;
}

section.contacts .row .card:hover .icon {
  rotate: -45deg;
}

section.contacts .row h1 {
  margin: 0 20px;
}

section.contacts .row .card .icon {
  font-size: 25px;
  color: var(--small-bg-color);
  background-color: var(--icon-bg-color);
  padding: 6px;
  border-radius: 8px;
  transition: all 0.5s;
}

section.contacts .row .card .icon-details p {
  margin-bottom: 0;
  color: gray;
}

section.contacts .row .card .icon-details h5 {
  color: var(--body-color);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 1000px) {
  section.contacts {
    padding: 0;
  }

  section.contacts .row .form-container .form {
    padding: 15px;
  }

  section.contacts .row .form-container .form .input {
    margin-bottom: 5px;
  }

  .section.contacts .row .form-container {
    padding: 0 !important;
  }

  section.contacts .row {
    padding: 0;
  }

  section.contacts .row .card .icon-details h5 {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  section.contacts {
    padding: 0;
  }

  section.contacts .row .form-container .form {
    padding: 15px;
  }

  section.contacts .row .form-container .form .input {
    margin-bottom: 5px;
  }

  .section.contacts .row .form-container {
    padding: 0 !important;
  }

  section.contacts .row {
    padding: 0;
  }

  section.contacts .row .card .icon-details h5 {
    font-size: 16px;
  }
}