* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #fff;
}

body {
  background-image: linear-gradient(#222);
  padding: 10px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  background-color: #806f6f63;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  color: var(--main-color);
  display: flex;
  flex-direction: column;
}

.container h1,
.container h2 {
  font-weight: 500;
}

.container hr {
  margin: 20px 0;
  border: 2px solid rgb(97, 93, 93);
}

.container ul {
  list-style: none;
}

.container ul li {
  border: 1px solid rgb(97, 93, 93);
  padding: 10px;
  margin: 10px 0;
  cursor: pointer;
}

.container ul li:hover {
  background-color: #8884843a;
}

.container button {
  width: 30%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 8px auto;
}

.container p {
  text-align: center;
}

.container ul li.correct {
  box-shadow: 0 0 50px green inset;
}

.container ul li.wrong {
  box-shadow: 0 0 50px red inset;
}