/*
  Author: Mahmoud Esmat
  Date  : 4-12-2025
*/

/* ========== For All ========== */
* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ========== For Header ========== */
header {
  background-color: #5657;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  max-width: 400px;
  text-align: center;
}

header input,
header button {
  width: 100%;
  padding: 5px 10px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}

header button {
  background-color: #5657;
  cursor: pointer;
}

header button:hover {
  background-color: rgba(85, 102, 85, 0.8);
}

/* ========== For Main Content ========== */
main {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  gap: 10px;
  text-align: center;
  align-items: start;
}

main section {
  background-color: #5657;
  padding: 10px;
  border-radius: 10px;
  flex-grow: 1;
}

main section p {
  background-color: red;
  margin-top: 10px;
  padding: 5px;
  cursor: grab;
  color: #fff;
}