/* 
  Author: Mahmoud Esmat
  date  : 6-11-2025
*/

/* =============== For all =============== */
* {
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #333;
  --right-color: green;
  --wrong-color: red;
}

body {
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fake-body {
  background-color: #fff;
  padding: 20px;
  width: 80%;
  max-width: 550px;
}

/* =============== For nav =============== */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 4px solid var(--main-color);
  position: relative;
}

nav div {
  position: absolute;
  bottom: -4px;
  background-color: blue;
  width: 0px;
  height: 4px;
}

/* =============== For main =============== */
main {
  border-bottom: 2px solid var(--main-color);
}

main h2 {
  margin-bottom: 15px;
}

main ul {
  list-style: none;
}

main ul li {
  padding: 15px;
  margin-bottom: 15px;
  border: 1px solid var(--main-color);
  position: relative;
  cursor: pointer;
}

main ul li:hover {
  box-shadow: 0 0 4px var(--main-color);
}

main ul li span {
  visibility: hidden;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

li.right {
  background-color: #c8f7c5;
  color: var(--right-color);
  border: 2px solid var(--right-color);
  box-shadow: 0 0 4px var(--right-color);
}

li.wrong {
  background-color: #f7c5c5;
  color: var(--wrong-color);
  border: 2px solid var(--wrong-color);
  box-shadow: 0 0 4px var(--wrong-color);
}

main h1 {
  text-align: center;
  margin: 50px;
  background: var(--main-color);
  border-radius: 15px 0;
  box-shadow: 1px 1px 5px;
  color: #fff;
  font-weight: 100;
}

/* =============== For footer =============== */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 15px 5px;
}

footer p {
  font-size: 25px;
}

footer button {
  padding: 10px 30px;
  border-radius: 30px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
}

footer button:hover {
  box-shadow: 1px 1px 5px black;
}

footer button.disabled {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
  box-shadow: 0 0 5px var(--main-color) inset;
  cursor: auto;
}