@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

* {
  padding: 0;
  margin: 0;
  color: #fff;
}

header {
  background-color: #222;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-family: "Oleo Script", system-ui
}

div {
  padding: 10px;
  overflow: hidden;
}

div * {
  position: relative;
}

/* ============ First ============ */
.text1 h1 {
  font-size: 60px;
  right: 700px;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  text-shadow: 0 0 100px yellow;
  animation: scroll 2s forwards;
}

@keyframes scroll {
  0% {
    right: 700px;
  }

  100% {
    right: 0;
  }
}

/* ============ Second ============ */
.text2 h2 {
  font-size: 40px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  white-space: nowrap;
}

.text2 h2::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: red;
  width: 0;
  overflow: hidden;
  animation: filled 2s forwards linear;
}

@keyframes filled {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* ============ Third ============ */
.text3 {
  position: relative;
}

.text3 p {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  font-weight: 100;
  z-index: 1;
  mix-blend-mode: difference;
}

.text3::before {
  content: "";
  width: 50px;
  height: 70%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-color: #fff;
  animation: move 3s linear infinite;
  z-index: 1;
}

@keyframes move {
  0% {
    left: 0;
  }

  50% {
    left: calc(100% - 50px);
  }

  100% {
    left: 0;
  }
}

/* ============ Fourth ============ */
.typing {
  font-size: 40px;
  font-family: monospace;
  border-right: 3px solid orange;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  animation: typing 3s steps(15, end) forwards, blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 15ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}