@mixin display-flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin underline-indicator($color: red, $width: 27px, $height: 2px, $left: 10px, $bottom: 0) {
  content: "";
  position: absolute;
  width: $width;
  height: $height;
  left: $left;
  bottom: $bottom;
  background-color: $color;
}